body {
    background-color: #000;
    color: #fff;
}

/* Footer */

.navbar {
    background-color: #000000!important;
    border-bottom: 1px solid hsla(0,0%,100%,.5);
}

.navbar a {
    color: #fff!important;
}

.btn {
    background-color: #43b02a;
}

.btn-outline-success {
    color: #fff;
}

/* Main */

main form {
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
}

main .form-group, main .btn, main a, main p {
    width: 25%;
    margin: 0 10%;
}

/* Footer */

footer {
    border-top: 1px solid hsla(0,0%,100%,.5);
}

footer a {
    color: #fff!important;
}

footer .list-group-item {
    background-color: #000;
}